@import 'mapas.less';

// BREAKPOINTS

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

// ESTILOS GERAIS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: #fontes[fontePrincipal];
}

body {
    background-color: #colors[corDeFundo];
}

li {
    list-style: none;
}

section {
    padding: 56px 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

// ESTILOS DO HEADER

header {
    background-color: #colors[corFundoHeader];
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    // ESTILOS MENU HEADER 

    .menu {
        display: flex;
    }
    
    .menu li {
        font-weight: bold;
        margin-left: 24px;
    }
    
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
}

// ESTILO SECTION DE PRODUTOS 

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    &-item img {
        width: 100%;
        border-radius: 16px;
    }
    
    &-button {
        display: block;
        background-color: #colors[corBotoes];
        color: #colors[corTexto];
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;

        &:hover {
            background-color: #colors[corBotoesHover];
        }
    }
}

// RESPONSIVIDADE PRA TABLET 

@media @breakpointTablet {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

// RESPONSIVIDADE PARA MOBILE 

@media @breakpointMobile {
    .products {
        display: block;

        &-item  {
            margin-bottom: 32px;
        }
    }

    
}