* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: 80px auto;
}

form {
    margin-top: 40px;
}

form input,
form button,
form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

form textarea {
    resize: none;
}

form button {
    background-color: rgb(13, 161, 38);
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(67, 192, 88);
}

.mensagem-sucesso {
    background-color: rgb(67, 192, 88);
    padding: 10px;
    color: white;
    margin-top: 10px;
    display: none;
}

.mensagem-erro {
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 8px;
    margin-top: 8px;
    display: none;
}

input.error{
    border-color: red;
    color: red;
    outline-color: red;
}